html {
    font-family: Arial, sans-serif;
}

#container {
    display: flex;
    flex-grow: 1;
}

#container div {
    width: 100%;
    padding: 0 5px 0 0;
}

#container div textarea {
    margin-top: 5px;
    width: 100%;
}

button {
    font-size: 18px;
    margin: 5px 0;
}

.snippet {
    font-size: 12px;
}

.louder {
    color: red;
    font-size: 18px;
}