<div id="container">
    <div>
        <label for="schema">Schema for </label>
        <select (change)="updateTextAreas()" id="schemaSelector" [(ngModel)]="selectedSchema">
            <option *ngFor="let schema of schemas" [ngValue]="schema">{{schema.name}}</option>
        </select><br/>
        <textarea rows="20" cols="50" id="schema" [(ngModel)]="schema"></textarea><br/>
    </div>
    <div>
        <label for="data">Data to validate</label><br/>
        <textarea rows="20" cols="50" id="data" [(ngModel)]="data"></textarea>
    </div>
</div>
<button (click)="validate()">Validate!</button>
<div id="message" *ngIf="message">{{message}}</div>
<div id="errors" *ngIf="errors">
    <div *ngFor="let error of errors">
        <strong>{{error.dataPath}}</strong>: {{error.message}}<br/>
    </div>
</div>
